####################################
# Maven
####################################
target/
!.mvn/wrapper/maven-wrapper.jar

####################################
# Eclipse
####################################
.project
.classpath
.factorypath
.settings/
bin/

####################################
# VS Code
####################################
.vscode/

####################################
# Logs
####################################
logs/
*.log

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Env / Secrets
####################################
.env
*.env

####################################
# Spring Boot
####################################
application-local.properties

####################################
# Test coverage
####################################
jacoco.exec

####################################
# Build outputs
####################################
*.jar
*.war
*.ear
